*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman';
}

.navbar{
    height: 60px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;    
}

.nav-logo{
    height: 50px;
    width: 50px;
}

.logo{
    height: 50px;
    width: 100px;
    background-image: url("RazerLogo.webp");
    background-repeat: no-repeat;
    background-size: contain;
}

.design{
    font-size: 15px;
    color: white;
}

.hovr:hover{
    border:1px solid gray;
    border-radius: 5px;
    text-decoration: underline gray;
}

.nav-search{
    height: 30px;
    width: 30px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-search i{
    color: lightgray;
}
.nav-cart{
    font-size: 17px;
    color: white;
    font-weight: lighter;
}

.nav-cart i{
    color: lightgray;
}

.textContent{
    height: 40px;
    width: 100%;
    background-color: #3b3b3b;
    color: white;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #39E75F;
}

.image1{
    height: 495px;
    width: 100%;
    background-color: #141414;
    background-image: url("R1.webp");
    background-repeat: no-repeat;
    background-size: contain;
}

.image1 button{
    height: 50px;
    visibility: hidden;
}
.image1 p{
    color: white;
    font-weight: bold;
    font-size: 34px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

#p1{
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 5px;
    margin-top: 10px;
}

#p2{
    font-size: 25px;
    font-weight: lighter;
    margin-top: 10px;
    font-family: arial,Arial, Helvetica, sans-serif;
}

.image2{
    height: 495px;
    width: 100%;
    background-color: #141414;
    background-image: url("r2.webp");
    background-repeat: no-repeat;
    background-size: contain;
}

.image2 button{
    height: 30px;
    width: 120px;
    background-color: rgba(235, 164, 13, 0.856);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}
.image2 p{
    color: white;
    font-weight: bold;
    font-size: 34px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.image3{
    height: 495px;
    width: 100%;
    background-color: #141414;
    background-image: url("r3.webp");
    background-size: contain;
    background-repeat: no-repeat;

}

.image3 p{
    color: white;
    font-weight: bold;
    font-size: 34px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.frame-section1{
    height: 410px;
    background-color: #141414;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.design{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
}

#PH1{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 17px;
    font-weight: lighter;
    margin-bottom: 5px;
    margin-top: 10px;
}

#PH2{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 17px;
    font-weight: lighter;
    margin-top: 10px;
    font-family: arial,Arial, Helvetica, sans-serif;
}

.heightWidth{
    height: 600px;
    width: 49%;
    background-size: contain;
    background-repeat: no-repeat;
}
.frame1{
    background-image: url("rr1.webp");
}

.frame2{
    background-image: url("rr2.webp"); 
}

.frame3{
    background-image: url("rr3.webp"); 
}

.frame4{
    background-image: url("rr4.webp"); 
}

.frame5{
    background-image: url("RR5.webp");
}

.frame6{
    background-image: url("RR6.webp");
}
.frame-section2{
    height: 410px;
    background-color: #141414;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.frame-section3{
    height: 410px;
    background-color: #141414;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.foot-panel{
    height: 380px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}

.foot-panel p{
    margin-top: 30px;
    color: white;
    font-size: 18px;
    margin-bottom: 15px;
}

ul a{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
    display: block;
    font-size: 0.85rem;
    color: gray;
    margin-top: 8px;
    text-decoration: none;
}

.foot-panel i{
    height: 35px;
    width: 35px;
    background-color: rgba(87, 81, 81, 0.397);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}


.foot-panel i:hover{
    border: 1px solid white;
}

.foot-panel a:hover{
    text-decoration: underline;
}

.foot-panel p:hover{
    cursor: pointer;
}

#lastPara{
    color: green;
}

.lastPanel{
    height: 50px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    border-top: 2px solid rgba(87, 81, 81, 0.397);
}

.lastPanel p{
    color: gray;
    margin-left: 20px;
}

.lastPanel a{
    color: gray;
    margin-left: 20px;
    text-decoration: none;
}
.lastPanel a:hover{
    text-decoration: underline;
}

.location{
    margin-left: 315px;
}

.location p:hover{
    text-decoration: underline;
    cursor: pointer;
}



